# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.conecta

# Virtual environments
venv/
env/
ENV/

# Database files
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Temporary files
tmp/
*.log

# frontend
node_modules/
dist/
*.local

#vite local cahce
.vite/

